@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .box-icon {
    @apply h-5 w-5 rounded-full bg-color2;
  }
  .menuNonActive {
    @apply flex h-8 w-8 cursor-pointer items-center justify-center rounded-full bg-color3;
  }
  .menuActive {
    @apply flex h-8 w-8 cursor-pointer items-center justify-center rounded-full bg-color2;
  }
}

.custom-scrollbar {
  scrollbar-color: #f0f0f6 transparent;
  scrollbar-width: thin;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 2px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  height: 10px;
  border-radius: 3px;
  background-color: transparent;
  width: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}
