@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .box-icon {
    @apply flex h-5 w-5 cursor-pointer items-center justify-center rounded-full bg-color2;
  }
  .menuNonActive {
    @apply flex h-8 w-8 cursor-pointer items-center justify-center rounded-full bg-color3;
  }
  .menuActive {
    @apply flex h-8 w-8 cursor-pointer items-center justify-center rounded-full bg-color2;
  }
  .container {
    @apply flex flex-col;
  }
  .card {
    @apply flex h-[12.4rem] w-[21.2rem] flex-col items-center justify-center gap-3 bg-white dark:bg-gray-800;
  }
  .serviceTitleCard {
    @apply text-[18px]  dark:text-white;
  }
  .serviceSubTitleCard {
    @apply text-color2  dark:text-white;
  }
  .cardPriceList {
    @apply h-[609px] w-[330px] bg-white p-10 dark:bg-gray-800;
  }
  .titlePriceList {
    @apply text-[24px] dark:text-white;
  }
  .price {
    @apply text-[32px] dark:text-white;
  }
  .price-per-hour {
    @apply mt-2 text-[12px] dark:text-white;
  }
  .price-description {
    @apply text-center text-color2 dark:text-white;
  }
  .price-item {
    @apply flex flex-row items-center text-color2 dark:text-white;
  }
  .orderButton {
    @apply mt-10 flex w-full justify-center rounded-full bg-white p-2 shadow shadow-slate-300 transition group-hover:scale-90;
  }
  .orderButtonActive {
    @apply mt-10 flex w-full justify-center rounded-full bg-color2 p-2 shadow shadow-slate-300 transition group-hover:scale-90;
  }
  .mostPopuler {
    @apply absolute -mx-10 -mt-10 h-[30px] w-[330px] bg-color2 text-center;
  }
}
.no-resize {
  resize: none;
}
.custom-scrollbar {
  scrollbar-color: #f0f0f6 transparent;
  scrollbar-width: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 2px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  height: 10px;
  border-radius: 3px;
  background-color: transparent;
  width: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.scrollbar-hide::-webkit-scrollbar {
  width: 0; /* Membuat scrollbar menjadi tidak terlihat di browser Chrome/Safari */
}
.scrollbar-hide {
  scrollbar-width: none; /* Membuat scrollbar menjadi tidak terlihat di browser Firefox */
}
